body {
  background-color: #f0f9fa;
}

.jumbotron {
  padding-top: 9rem;
  background-color: #c0deeb;
}

#gallery {
  background-color: #c0e5eb;
}

section {
  padding-top: 5rem;
}

.active,
.bt:hover {
  color: white;
}
